<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">

<head>
    <title>{{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}</title>

    {{ partial "head.html" . }}

    {{if isset .Site.Params "backgroundImage"}}
    <style>
.indexWrapper {
    background-image: url("{{ .Site.Params.backgroundImage }}");
    background-color: rgba(0, 0, 0, 0.6); /* Adjust darkness: 0 = transparent, 1 = fully black */
    }
    </style>
    {{ end }}
</head>

<body>

    <div class="flexWrapper">
        {{ partial "header.html" . }}

        <div class="content">
            <main class="main">
                {{ block "main" . }}
                {{ end }}
            </main>
        </div>


        {{ partial "footer.html" . }}
    </div>

</body>

</html>
