
.indexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: {{.Site.Params.backgroundImage }};
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.indexWrapper::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6); /* Adjust darkness: 0 = transparent, 1 = fully black */
}
.indexHeader {
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0); /* Adjust darkness: 0 = transparent, 1 = fully black */
}
/* Avatar sizes (default is M) - XS, S, M, L, XL */
.authorImageWrapper img.size-xs {
    height: 7rem;
    width: 7rem;
}

.authorImageWrapper img.size-s {
    height: 9rem;
    width: 9rem;
}

.authorImageWrapper img.size-m {
    height: 11rem;
    width: 11rem;
}

.authorImageWrapper img.size-l {
    height: 13rem;
    width: 13rem;
}

.authorImageWrapper img.size-xl {
    height: 15rem;
    width: 15rem;
}
